{% extends "layout.html" %}

{% block body %}
<div style="width:100%;height:100%" id="loading" class="lds-rolling">
    <div></div>
</div>

<span class="help-text">Shift + Click to select multiple nodes</span>

<div id="node-info-container">
    <div>Node Info<span class="u-pull-right hide-icon">✕</span><span class="u-pull-right unhighlight-icon">◎</span><span class="u-pull-right highlight-icon">◉</span></div>
    <div id="node-info-box">

    </div>
</div>

<div id="cy"></div>

<div class="search-box-container">
    <div class="container">
        <div class="row">
            <span class="search-icon">⌕</span><input id="search-box" type="text"/><span class="clear-icon">x</span>
        </div>
    </div>
</div>

<div id="info-box">
    <div class="container">
        <div class="row">
            <div class="accordion">Header</div>
            <div class="panel">
                <div class="accordion-header">File Information</div>
                <div>Name<span id="filename" class="u-pull-right">{{name}}</span></div>
                <div>Version<span class="u-pull-right">{{header.version}}</span></div>
                <div>File Length<span class="u-pull-right">0x{{header.file_length}}</span></div>
                <div>Checksum<span class="u-pull-right">0x{{header.checksum}}</span></div>

                <div class="accordion-header">Addresses</div>
                <div>Base of High Memory<span class="u-pull-right">0x{{header.base_of_high_memory}}</span></div>
                <div>Base of Static Memory<span class="u-pull-right">0x{{header.base_of_static_memory}}</span></div>
                <div>Initial Program Counter<span class="u-pull-right">0x{{header.initial_program_counter}}</span></div>
                <div>Dictionary Address<span class="u-pull-right">0x{{header.dictionary_address}}</span></div>
                <div>Object Table<span class="u-pull-right">0x{{header.object_table}}</span></div>
                <div>Global Variables Table<span class="u-pull-right">0x{{header.global_variables_table}}</span></div>
                <div>Abbrevations Table<span class="u-pull-right">0x{{header.abbrevations_table}}</span></div>
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="accordion">Dictionary</div>
            <div class="panel">
                <div class="accordion-header">Dictionary Information</div>
                <div>Separator Length<span class="u-pull-right">{{dictionary.separator_length}}</span></div>
                <div>Separator<span class="u-pull-right">{{dictionary.separator}}</span></div>
                <div>Entries<span class="u-pull-right">{{dictionary.entries}}</span></div>
                <div>Entry Length<span class="u-pull-right">{{dictionary.entry_length}}</span></div>

                <div class="accordion-header">Words</div>
                <div class="word-panel">
                    <div class="u-pull-left">
                        {% for i in range(0, dictionary.entries, 2 )%}
                            <div class="row">
                                <span>[{{dictionary.words[i][0]}}]&emsp;{{dictionary.words[i][1]}}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="u-pull-right">
                        {% for i in range(1, dictionary.entries, 2 )%}
                            <div class="row">
                                <span>[{{dictionary.words[i][0]}}]&emsp;{{dictionary.words[i][1]}}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="accordion">Objects</div>
            <div class="panel">
                <div class="accordion-header">Object Information</div>
                <div>Object Count<span class="u-pull-right">{{objects|length}}</span></div>
                <div class="accordion-header">Objects</div>
                <div class="object-panel">
                    {% for object in objects %}
                        <div class="object-info" data-object-id="{{object.id}}" 
                            data-object-description="{{object.description}}" 
                            data-object-parent="{{object.parent}}" data-object-child="{{object.child}}">
                            
                            <div><span>{{object.id}}</span>. "<span>{{object.description}}</span>"</div>
                            <div>Parent: <span>{{object.parent}}</span>&emsp;Sibling: <span>{{object.sibling}}</span>&emsp;Child: <span>{{object.child}}</span></div>
                            {% if object.attributes|length > 0 %}
                                <div>Attributes<span class="u-pull-right">{{object.attributes}}</span></div>
                            {% endif %}
                            {% if object.property_list|length > 0 %}
                                <div class="accordion-header">Properties<span class="u-pull-right">0x{{object.properties}}</span></div>
                                <div class="property-block">
                                    {% for property in object.property_list %}
                                        <div><span data-parent-id="{{object.id}}" class="object-property-number">{{ property[ 0 ] }}</span> <span class="u-pull-right object-property-value">0x{{ property[ 1 ] }}</span></div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div>&nbsp;</div>
                    {% endfor %}
                </div>
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="accordion">Settings</div>
            <div class="panel">
                <div class="accordion-header">Info Box</div>
                <div>Scroll to Text on Search<span class="u-pull-right"><input type="checkbox" id="scroll-to-text" checked="true" /></span></div>

                <div class="accordion-header">Graph</div>
                <div>Zoom/Pan Graph on Search<span class="u-pull-right"><input type="checkbox" id="zoom-pan" checked /></span></div>
                <div>Hide Inform Objects Up to<span class="u-pull-right">
                    <select id="inform-object-floor">
                        {% for i in range( 1, objects|length + 1 ) %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>Compass Routing<span class="u-pull-right"><input type="checkbox" id="compass-routing" checked /></span></div>
                <div id="reset-graph" class="button">Reset Graph</div>
                <div id="download-png" class="button">Download PNG</div>

                &nbsp;
            </div>
        </div>
    </div>
</div>


<div class="row bottom-row">
    <a href="/">
        <div class="button">Back to Home</div>
    </a>
</div>

<script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,fetch"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/graph.min.js') }}"></script>
{% endblock %}