{% extends "layout.html" %}

{% block body %}
<div style="width:100%;height:100%" id="loading" class="lds-rolling">
    <div></div>
</div>

<span class="help-text">Shift + Click to select multiple nodes</span>

<div id="node-info-container">
    <div>Node Info<span class="u-pull-right hide-icon" title="Delete node"></span><span class="u-pull-right unhighlight-icon" title="Remove focus"></span><span class="u-pull-right highlight-icon" title="Focus on node"></span></div>
    <div id="node-info-box">

    </div>
</div>

<div id="cy"></div>

<div class="search-box-container">
    <div class="container">
        <div class="row">
            <span class="search-icon"></span><input id="search-box" type="text" placeholder="Type and press enter"/><span class="clear-icon">x</span>
        </div>
    </div>
</div>

<div id="info-box">
    <div class="container">
        <div class="row">
            <div class="accordion">Header</div>
            <div class="panel">
                <div class="accordion-header">File Information</div>
                Name<span id="filename" class="u-pull-right">{{name}}</span><br>
                Version<span class="u-pull-right">{{info.header.version}}</span><br>
                File Length<span class="u-pull-right">0x{{info.header.file_length}}</span><br>
                Checksum<span class="u-pull-right">0x{{info.header.checksum}}</span><br>
                Serial<span class="u-pull-right">{{info.header.serial}}</span>

                <div class="accordion-header">Addresses</div>
                Base of High Memory<span class="u-pull-right">0x{{info.header.base_of_high_memory}}</span><br>
                Base of Static Memory<span class="u-pull-right">0x{{info.header.base_of_static_memory}}</span><br>
                Initial Program Counter<span class="u-pull-right">0x{{info.header.initial_program_counter}}</span><br>
                Dictionary Address<span class="u-pull-right">0x{{info.header.dictionary_address}}</span><br>
                Object Table<span class="u-pull-right">0x{{info.header.object_table}}</span><br>
                Global Variables Table<span class="u-pull-right">0x{{info.header.global_variables_table}}</span><br>
                Abbrevations Table<span class="u-pull-right">0x{{info.header.abbrevations_table}}</span><br>
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="accordion">Abbrevations</div>
            <div class="panel">
                <div class="accordion-header">Abbrevation Information</div>
                Count<span class="u-pull-right">{{info.abbrevations.count}}</span>
                <div class="accordion-header">Abbrevations</div>
                <div class="word-panel">
                    <div class="u-pull-left">
                        {% for i in range(0, info.abbrevations.count, 2 )%}
                            <div class="row">
                                [{{info.abbrevations.items[i][0]}}]&emsp;"{{info.abbrevations.items[i][1]}}"
                            </div>
                        {% endfor %}
                    </div>
                    <div class="u-pull-right">
                        {% for i in range(1, info.abbrevations.count, 2 )%}
                            <div class="row">
                                [{{info.abbrevations.items[i][0]}}]&emsp;"{{info.abbrevations.items[i][1]}}"
                            </div>
                        {% endfor %}
                    </div>
                </div>
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="accordion">Dictionary</div>
            <div class="panel">
                <div class="accordion-header">Dictionary Information</div>
                <div>Separator Length<span class="u-pull-right">{{info.dictionary.separator_length}}</span></div>
                <div>Separator<span class="u-pull-right">{{info.dictionary.separator}}</span></div>
                <div>Entries<span class="u-pull-right">{{info.dictionary.entries}}</span></div>
                <div>Entry Length<span class="u-pull-right">{{info.dictionary.entry_length}}</span></div>

                <div class="accordion-header">Words</div>
                <div class="word-panel">
                    <div class="u-pull-left">
                        {% for i in range(0, info.dictionary.entries, 2 )%}
                            <div class="row">
                                [{{info.dictionary.words[i][0]}}]&emsp;{{info.dictionary.words[i][1]}}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="u-pull-right">
                        {% for i in range(1, info.dictionary.entries, 2 )%}
                            <div class="row">
                                [{{info.dictionary.words[i][0]}}]&emsp;{{info.dictionary.words[i][1]}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="accordion">Objects</div>
            <div class="panel">
                <div class="accordion-header">Object Information</div>
                Object Count<span class="u-pull-right">{{info.objects|length}}</span>
                <div class="accordion-header">Objects</div>
                <div class="object-panel">
                    {% for object in info.objects %}
                        <div class="object-info" data-object-id="{{object.id}}" 
                            data-object-description="{{object.description}}" 
                            data-object-parent="{{object.parent}}" data-object-child="{{object.child}}">
                            
                            {{object.id}}. "{{object.description}}"<br>
                            Parent: {{object.parent}}&emsp;Sibling: {{object.sibling}}&emsp;Child: {{object.child}}<br>
                            {% if object.attributes|length > 0 %}
                                Attributes<span class="u-pull-right">{{object.attributes}}</span>
                            {% endif %}
                            {% if object.property_list|length > 0 %}
                                <div class="accordion-header">Properties<span class="u-pull-right">0x{{object.properties}}</span></div>
                                <div class="property-block">
                                    {% for property in object.property_list %}
                                        <span data-parent-id="{{object.id}}" class="object-property-number">{{ property[ 0 ] }}</span> <span class="u-pull-right object-property-value">0x{{ property[ 1 ] }}</span><br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        &nbsp;
                    {% endfor %}
                </div>
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="accordion">Settings</div>
            <div class="panel">
                <div class="accordion-header">Info Box</div>
                <label for="scroll-to-text">
                    <div>Scroll to Text on Search<span class="u-pull-right"><input type="checkbox" id="scroll-to-text" name="scroll-to-text" checked="true" /></span></div>
                </label>
                <div class="accordion-header">Graph</div>
                <label for="zoom-pan">
                    <div>Zoom/Pan Graph on Search<span class="u-pull-right"><input type="checkbox" id="zoom-pan" name="zoom-pan" checked /></span></div>
                </label>
                <div>Hide Inform Objects to<span class="u-pull-right">
                    <select id="inform-object-floor">
                        {% for i in range( 1, info.objects|length + 1 ) %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <label for="compass-routing">
                    <div>Compass Routing<span class="u-pull-right"><input type="checkbox" id="compass-routing" name="compass-routing" checked /></span></div>
                </label>
                <div id="reset-graph" class="button">Reset Graph</div>
                <div id="download-png" class="button">Download PNG</div>
                <div>
                    <a href="https://github.com/attilathedud/inform_mapper/issues">See a problem?</a>
                </div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>

<div id="menu" class="button">
M<br>
E<br>
N<br>
U
</div>

<div class="row bottom-row">
    <a href="/">
        <div class="button">Back to Home</div>
    </a>
</div>

<script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,fetch"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.8/cytoscape.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/graph.min.js') }}?v="></script>
{% endblock %}