@import 'colors';

/* Custom input file */
.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &+ label {
        @media (max-width: 400px) {
            width: 100%;
        }

        max-width: 80%;
        min-width: 80%;
        font-size: 1.25rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
        color: $primary-color;
        border: 2px solid currentColor;

        &:hover {
            color: $focus-color;
        }

        svg {
            width: 1em;
            height: 1em;
            vertical-align: middle;
            fill: currentColor;
            margin-top: -0.25em;
            margin-right: 0.25em;
        }
    }

    &:focus, &.has-focus {
        + label {
            color: $focus-color;
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
}

.submit-file-button {
    @media (min-width: 400px) {
        position: absolute;
        left: 0;
    }

    @media (max-width: 400px) {
        width: 89%;
    }

    display: inline-block;
    height: 36px;
    font-size: 1.25rem;
    padding: 0.625rem 3rem;
    color: $text-color;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    white-space: nowrap;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 600;
    display: none;

    &:hover {
        background-color: $focus-color;
        border: 2px solid $focus-color;
    }
}

/* Command pallet and display window */
.command-pallet {
    background: transparent !important;
    border: 0 !important;
}

#display-window {
    max-height: 50vh;
    overflow: scroll;
}

#about-text, #contact-text {
    display: none;
}

/* Navigation stuff */
.navbar {
    background-color: $primary-color;
    margin-bottom: 5%;
}

.navigation {
    @media (min-width: 400px) {
        float: right;
    }
    list-style: none;
    padding-top: 2rem;

    > li {
        display: inline;
        text-decoration: none;
        font-size: larger;

        > a {
            text-decoration: none;
            padding: 20px;
            color: $text-color;
            
            &:hover {
                color: $background-contrast;
            }
        }
    }
}