@import 'colors';

$info-box-width: 25%;

/* Main page elements */
#info-box {
    height: 90%;
    width: $info-box-width;
    position: absolute;
    left: 0;
    top: 10px + 38px;
    border-right: 1px solid $background-contrast;
    overflow: scroll;
    margin-top: 10px;
}

#loading {
    z-index: 999;
    position: absolute;
    @media (min-width: 400px) {
        top: 35%;
        left: 50%;
    }
    @media (max-width: 400px) {
        top: 35%;
        left: 30%;
    }
}

.bottom-row {
    position: absolute;
    bottom: 0;

    >a {
        text-decoration: none;
    }
}

.search-box-container {
    position: absolute;
    top: 0;
    border-right: 1px solid $background-contrast;
    width: $info-box-width;
    margin-bottom: 10px;
}

#search-box {
    width: 100%;
    margin-top: 10px;
    padding-left: 15%;
}

.search-icon {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 20pt;
}

div.home-link {
    background-color: $primary-color;
    color: $text-color;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    width: 90%;
    text-align: left;
    transition: 0.4s;
    text-transform: uppercase;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    &:hover {
        background-color: $focus-color;
    }
}

/* Highlighting style */

.highlight {
    background-color: $highlight-color;
    padding: 5px;
}

/* Graph container */
#cy {
    height: 100%;
    width: 100% - $info-box-width;
    position: absolute;
    left: $info-box-width;
    top: 0;
}

/* Accordion */
div.accordion {
    background-color: $primary-color;
    color: $text-color;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    width: 90%;
    text-align: left;
    transition: 0.4s;
    text-transform: uppercase;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    &:hover {
        background-color: $focus-color;
    }

    &:before {
        content: "►";
        color: $text-color;
        margin-left: 5px;
        margin-right: 5px;
    }

    &.active:before {
        content: "▼";
    }

    & + div.panel {
        width: 90%;
        padding: 0 5%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    & > .highlight {
        background-color: $primary-color;
        border: 1px solid $highlight-color;
    }
}

/* Accordion in-elements */
div.accordion-header {
    font-size: 7pt;
    margin-top: 10px;
    border-bottom: 1px solid currentColor;
    text-transform: uppercase;
}

.word-panel {
    font-size: .9em;
    height: 200px;
    overflow: scroll;
}

.object-panel {
    height: 400px;
    overflow: scroll;
}

.property-block {
    margin: 0 10px;
}

/* Help text */
.help-text {
    color: $background-contrast;
    position: absolute;
    top: 0;
    left: $info-box-width;
    margin-left: 10px;
}

/* Animation for loading icon */
@keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.lds-rolling {
    position: relative;

    div, div:after {
        position: absolute;
        width: 160px;
        height: 160px;
        border: 20px solid $primary-color;
        border-top-color: transparent;
        border-radius: 50%;
    }

    div {
        -webkit-animation: lds-rolling 1s linear infinite;
        animation: lds-rolling 1s linear infinite;
        top: 100px;
        left: 100px;
    }

    div:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
